<router-outlet></router-outlet>

<!-- <button (click)="createUser()">CreateUser</button>-->
<!--<button (click)="login()">login</button>
<button (click)="getProfile()">Get Profile</button> -->
<!-- <mat-toolbar class="mat-elevation-z6 main-menu" color="primary">
  <span>Mote</span>
  <button mat-button>Preguntas</button>
  <button mat-button>Clases</button>
  <button mat-button>Alumnos</button>
</mat-toolbar> -->

<!-- <div class="contenedor">
  <app-clases (loaded)="onLoad($event)"></app-clases>
</div> -->
<!--<p>
  <button (click)="download()">Descargar PDF</button>
</p>
<app-alumnos></app-alumnos>-->
