/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
// html,
// body {
//   height: 100%;
// }

@import url(./styles/reset.scss);
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0%;

  background-color: #eee;
}

.alumnos--grid {
  app-img {
    img {
      border-radius: 10px;
    }
  }
}
